.App {
    font-family: sans-serif;
    text-align: left;
  }
  #header {
    padding: 30px;
    background-color: lightseagreen;
  }
  #header h1 {
    display: inline;
    color: #fff;
  }
  :any-link {
    text-decoration: none;
  }
  .circle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: #fff;
    color: lightseagreen;
    text-align: center;
    font: 35px Arial, sans-serif;
    font-weight: bolder;
    display: inline-block;
  }
  .icon {
    color: #fff;
  }
  #total-items {
    float: right;
    color: #fff;
  }
  #total-value {
    margin: 0 5px;
    display: inline;
    color: #fff;
  }
  h5 {
    padding-left: 40px;
  }
  .home-img {
    width: 100px;
    margin: 0px 50px;
  }
  .button-group,
  .qty-group {
    display: inline-block;
    margin: 0px 20px;
  }
  .qty-group p {
    font: 12px Arial, sans-serif;
    margin: 5px 0;
    text-align: center;
  }
  .qty {
    font-size: 0.8em;
    display: block;
    border: solid 1px lightgray;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    position: relative;
    left: 5px;
  }
  .btn-group button {
    background-color: gray;
    border: none;
    width: 30px;
    height: 25px;
    margin-right: 10px;
  }
  .btn-group button div {
    background-color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
  
    text-align: center;
    font: 15px Arial, sans-serif;
    color: gray;
  
    display: inline-block;
  }
  #cart {
    padding: 30px 200px 150px 100px;
  }
  #cart h1 {
    color: black;
    font: 25px Arial, sans-serif;
  }
  .cart-img {
    width: 150px;
    text-align: center;
    float: left;
  }
  .cart-img img {
    width: 100px;
    margin: 0px 40px;
  }
  #cart h5 {
    color: gray;
    font: 15px Arial, sans-serif;
    text-align: center;
  }
  .final-qty {
    display: inline;
    position: relative;
    top: 30px;
    left: 50px;
    font: 15px Arial, sans-serif;
  }
  .center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
  }
  .sort-button {
    margin-left: 10px;
  }
  .price {
    margin-left: 10px;
    font-size: 15px;
    color:salmon;
  }